<!DOCTYPE html>
<html lang="ja">
<%- include('partials/head') %>
<body>
    <div class="app-container">
<%- include('partials/sidebar') %>
<%- include('partials/main') %>
    </div>
<%- include('partials/modals') %>
    <script type="module" src="/js/index.js"></script>
</body>
</html>
